.display-none {
	display:none;
}
.tab{
    margin-bottom:15px ;
       background: #e8edf0;
    border-color: #e8edf0; 
    padding: 15px;
    padding-bottom: 0;
}
.tab ul {
	list-style-type:none;
	overflow:hidden;
	margin: 0px;
	font-size: 16px;
    padding: 0px;
}
.tab ul li {
	float:left;
}
.tab ul li div{
	border-radius:0;
	padding:5px 0;
	margin-right:5px;
	width:150px;
	text-align:center;
	/*background-color:#f8f8f8;*/
	/*border-bottom:3px solid #eee;*/
	border: 1px solid #e8edf0;
    color: #7b8a8b;
    background-color: #c9d4dc;
}
.tab ul li a {
	/*display:inline-block;*/
	/*width:150px;*/
	text-decoration:none;
	color:rgb(50,50,50);
	/*cursor:pointer;*/
    margin-right: 4px;
    position: relative;
    display: block;
    padding: 10px 15px;
    border-bottom-color: transparent;
}
.tab ul li .active {
	background-color:#fff;
	border-bottom:3px solid #fff;
 
}
.tab ul li .active a {
	color: #333;
}
